@font-face
{
font-family:whz_sj;
src:url("whz-songjian.ttf");

}

@font-face
{
font-family:whz_ty;
src:url("whz-teyuan.ttf");

}

.L
{
font-family:whz_sj;
font-size:18;
color:#00688B;
font-style:oblique;
}

.M
{
font-family:whz_sj;
font-size:24;
color:#000080;

}

.B
{
font-family:whz_sj;
font-size:36;
color:Orange;
font-weight:bold;
}


body.BL
{
font-family:whz_sj;
font-size:18;
color:black;
background-color:#F0F8FF;
}

body.BM
{
font-family:whz_sj;
font-size:24;
color:black;
background-color:#F0F8FF;
}

body.BB
{
font-family:whz_sj;
font-size:36;
color:black;
background-color:#F0F8FF;
}

table,tr,th,td{
	font-size:27;
	color:orange;
	font-family:whz_ty;
	background-color:cyan;
}