@font-face
{
font-family:zc_wenyi;
src:url("zcool-wenyi.ttf");

}

@font-face
{
font-family:zc_xiaowei;
src:url("zcool-xiaowei.otf");

}

.L
{
font-family:zc_wenyi;
font-size:18;
color:#00688B;
font-style:oblique;
}

.M
{
font-family:zc_wenyi;
font-size:24;
color:#000080;

}

.B
{
font-family:zc_wenyi;
font-size:36;
color:Orange;
font-weight:bold;
}


body.BL
{
font-family:zc_wenyi;
font-size:18;
color:black;
background-color:#F0F8FF;
}

body.BM
{
font-family:zc_wenyi;
font-size:24;
color:black;
background-color:#F0F8FF;
}

body.BB
{
font-family:zc_wenyi;
font-size:36;
color:black;
background-color:#F0F8FF;
}

table,tr,th,td{
	font-size:27;
	color:orange;
	font-family:zc_xiaowei;
	background-color:cyan;
}
