@font-face
{
font-family:wqy-microhei;
src:url("wqy-microhei.ttc");

}

@font-face
{
font-family:wqy-zhenghei;
src:url("wqy-zenhei.ttc");

}

.L
{
font-family:wqy-zhenghei;
font-size:18;
color:#00688B;
font-style:oblique;
}

.M
{
font-family:wqy-microhei;
font-size:24;
color:#000080;

}

.B
{
font-family:wqy-microhei;
font-size:36;
color:Orange;
font-weight:bold;
}


body.BL
{
font-family:wqy-zenhei;
font-size:18;
color:black;
background-color:#F0F8FF;
}

body.BM
{
font-family:wqy-microhei;
font-size:24;
color:black;
background-color:#F0F8FF;
}

body.BB
{
font-family:wqy-microhei;
font-size:36;
color:black;
background-color:#F0F8FF;
}

table,tr,th,td{
	font-size:24;
	color:orange;
	font-family:wqy-zhenghei;
	background-color:cyan;
	border-style:groove;
	border-color:darkcyan;
	border-width:6px;
}